.main-projects-slider__images{
    //background: no-repeat url("../images/slider_1.jpg");
    width: 679px;
    height: 482px;
    position: relative;

    & .image{
        background-size: cover;
        background-position: center center;
        position: absolute;
        opacity: 0;
        top:0;
        left: 0;
        width: 679px;
        height: 482px;
        transition: opacity .8s ease-in-out;
    }

    & .image.active{
        position: absolute;
        top:0;
        left:0;
        opacity: 1;
    }

}
.main-projects__slider-nav{
    & .slider__dots .dots.active{
        background-color: @primary-color;
    }
}

