.main-projects__content{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 50px;
}



.main-projects__container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 29px;
    grid-row-gap: 34px;
}

.main-projects__left{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 404px;

}

.main-project__top{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.main-projects__slider-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 14px;
    margin-top: 80px;

}