.active{
    margin-right: 50px;
    .font-title(@secondary-color);
    font-size: 14px;
    border-bottom: 1px solid @secondary-color;
    text-decoration: none;
}

.main-projects__link{
    margin-right: 50px;
    .font-title(rgba(255, 255, 255, 0.30));
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    transition: color .4s ease-in-out;
}

.main-projects__link:hover{
    color: @primary-color;
}